* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  background-color: #f9fafc;
}
input {
  outline: none;
  font-size: 15px;
  padding-left: 2px;
  background-color: #f9fafc;
}
select {
  outline: none;
  border: none;
  font-size: 15px;
  background-color: #f9fafc;
}
select:hover {
  cursor: pointer;
}
/* Header Styles */
header {
  background-color: #002757;
  color: #fff;
}
#header-links {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}
#header-links a {
  margin: 5px 8px;
  font-size: 16px;
  color: #f9fafc;
}
#header-container {
  display: flex;
}
#search-options {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
}
.option {
  margin: 0 8px;
}
#button {
  margin-left: -4px;
}
#button:hover {
  cursor: pointer;
}
#img-container {
}

/* Main Styles */
main {
  width: 95%;
  margin: 10px auto;
}
#main-container {
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: scroll;
  border-top: 2px solid #002757;
  border-bottom: 2px solid #002757;
}
#card {
  margin: 10px;
  color: #f9fafc;
  border-radius: 5px;
  border: 2px solid #b00024;
  background-color: #002757;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

#less-card {
  height: 150px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#description {
  display: flex;
  flex-direction: column;
}
#student-img {
  height: 121px;
}
#student-name {
  font-size: 20px;
  font-weight: 700;
}
#student-loco {
  font-size: 14px;
}
#student-phone-number {
  font-size: 16px;
  font-weight: 600;
  margin: 12px 0;
}
#student-email {
  font-size: 16px;
  font-weight: 600;
}
#more-info {
  font-size: 12px;
  margin-top: 12px;
  align-self: center;
  text-decoration: underline;
  transition: 0.8s ease-out;
}
#more-info:hover {
  cursor: pointer;
  color: #b00024;
}
#more-card {
}

/* Media Queries */
@media only screen and (max-width: 990px) {
  /* Header Styles */
  #header-links {
    justify-content: center;
  }
  #header-container {
    flex-direction: column;
  }
  #img-container {
    margin: 0 auto;
  }
  #search-options {
    justify-content: center;
    margin-bottom: 8px;
  }
}
